/*! only phone */

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    max-width: 428px;
    padding-top: 24px;
    padding-bottom: 22px;
  }

  .advant-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .team-card:not(:last-child) {
    margin-bottom: 72px;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }

  .logo-footer {
    margin-right: 0;
  }

  .subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
  }

  .subscribe-input {
    margin-bottom: 16px;
  }

  .subscribe-btn {
    margin-left: auto;
    margin-right: auto;
  }

  .sm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }

  .subscribe-label {
    display: block;
    text-align: center;
  }
}

/*! tablet */

@media screen and (min-width: 768px) {
  /* Header */
  .menu-list {
    display: flex;
    gap: 40px;
  }

  .hamburger-btn {
    display: none;
  }

  /* Hero */
  .overlay {
    max-width: 768px;

    /* background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  }

  .hero-title {
    margin-bottom: 36px;
    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;
  }

  /* Advantages */

  .advant-item {
    margin: 0;
    max-width: 356px;
  }

  /* Team */

  .team-card {
    margin: 0;
  }

  /* Footer */
  .subscribe-form {
    display: flex;
    gap: 24px;
  }

  .subscribe-input {
    width: 264px;
  }
}

/*! Tablet only!!! */

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .tablet-container {
    display: flex;
    flex-wrap: wrap;

    max-width: 552px;
    margin: 0 auto;
  }

  /* Header */
  .contacts {
    display: flex;
    margin-left: auto;
  }

  .contact-list {
    flex-direction: column;
    gap: 12px;
    padding-top: 16px;
  }

  .header-container {
    max-width: 768px;
  }

  /* Advantages */
  .advant-list {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    max-width: 736px;
    margin: 0 auto;
    gap: 72px 24px;
  }

  .advant-undertitle {
    text-align: start;
  }

  /* Team */
  .team-list {
    gap: 64px 24px;
  }

  /* Customers */
  .customers-list {
    gap: 72px 24px;
  }

  .customers-item {
    width: 168px;
  }

  /* Footer */
  .footer {
    padding: 96px 0;
  }

  .footer-container {
    gap: 72px 24px;
  }
}
/*! desktop*/

@media screen and (min-width: 1440px) {
  .container {
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .contacts {
    margin-left: auto;
  }

  /* Header */

  /* Hero */
  .hero {
    padding: 188px 0;
  }

  .overlay {
    max-width: 1440px;
    height: 600px;

    /* background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  */
  }
  .hero-title {
    margin-bottom: 48px;
  }

  /* Advantages */

  .advant-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advant-list {
    display: flex;
    gap: 24px;
  }
  .advant-item {
    width: 264px;
  }

  .advant-undertitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advant-item .thumb {
    display: flex;
  }

  .advant-text {
    font-weight: 400;
  }

  /* What are we doing */

  .what-doing-section {
    display: block;
  }

  /* Team */

  .team-section {
    padding: 120px 0;
  }

  .team-list {
    display: flex;
    gap: 24px;
  }

  .team-card {
    width: calc((100% - 24px * 3) / 4);
  }

  /* Customers */

  .customers-section {
    padding: 120px 0;
  }

  .customers-item {
    width: 168px;
    height: 88px;
  }

  .customers-list {
    gap: 24px;
  }

  /* Footer */

  .footer {
    padding: 100px 0;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .footer-text {
    width: 264px;
  }

  .logo-container {
    margin-right: 40px;
  }
}
